body {
    font-family: 'Comfortaa', cursive;
}

.cabecalho{
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 1920px;
    margin: -8px 0px 0px -8px;
    }
    .cabecalho-lista-item{
         display: inline-block;
         margin: 0 17px;
         padding: 24px  0;
         font-size: 24px;

    }
 
.escola-imagem{
    width:25%;
    border-radius: 10%;
    /* margin-inline: auto; */
    margin-left: 36%;
}
.escola {
    background-image: linear-gradient();
    
}

    .escola {
        background-image: linear-gradient(#383D58);
        }

        .escola {
            background-image: linear-gradient(#383D58,#00c0eb);
            }
            .escola{
                background-image: linear-gradient(#383D58,#00c0eb);
                color: white;
                display:flex;
                justify-content: center;
                align-items: center;
                padding: 24px 0;      
                width: 1920px;
    margin: 0px 0px 0px -8px;    
            }
            .escola-conteudo{
                width: 35%;
                }
                .escola-titulo {
                    padding: 24px 0;
                    }
            .estudante-imagem{
               
                width: 102px;

            }
            .estudante-icone{

                width:24px;

            }
            .estudante-div{
                margin-top: 85px;
                margin-left: 43%;
            }

            .escola-div-conteudo{
                margin: auto;
            }
  
            .link-estutante {
                color: white;
                text-decoration: solid;
            }

            .segundo{
                margin-top: -192px;
                margin-left: 4%;
            }

            .icones{
                margin-left: 18px;
            }

            .terceiro {
                margin-top: -192px;
                margin-left: 86%;
            }

            .quarto {
                margin-top: -192px;
                margin-left: 86%;
            }